

*{
    margin: 0;
    padding:0;
}

.red{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 2px solid black;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:0.2s;
}
.red:hover{
    color: blue;
}
.blue{
    width: 50px;
    height: 50px;
    background-color: rgb(45, 9, 250);
    border: 2px solid black;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:0.2s;

}
.blue:hover{
    color: red;
}
.orange{
    width: 50px;
    height: 50px;
    background-color: rgb(243, 122, 8);
    border: 2px solid black;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:0.2s;

}
.orange:hover{
    color: rgb(57, 202, 29);
}
.aqua{
    width: 50px;
    height: 50px;
    background-color: rgb(14, 194, 226);
    border: 2px solid black;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:0.2s;

}
.aqua:hover{
    color: rgb(233, 200, 16);
}